<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
    <h1>Chat with our Bot</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Ask me anything..." required>
        <button type="submit">Send</button>
    </form>
    
    {% if response %}
        <div>
            <h2>Bot's Response:</h2>
            <p>{{ response }}</p>
        </div>
    {% endif %}
</body>
</html>



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mom Buddy<title>
</head>
<body>
    <h1>Char here</h1>
    <form action = "#"method= "POST" class = "invite-event-form">
        {% csrf_token %}
        <input type = "text" name= "query" placeholder = "Ask me Anything....." required>
        <button type="sumbit">Send</button>
    </form>
    {% if response %}
        <div>
            <h2>Bot's Response:</h2>
            <p>{{ response }}</p>
        </div>
    {% endif %} 

    <script>
        // document.addEventListener("DOMContentLoaded", function
        //     document.querySelectorAll('.invite-event-form').function(form){
        //         document.addEventListener('submit', function(event){
        //             event.preventDefault();

        //             let formdata = new FormData(form)
        //             let url = form.getAttribute('action');
        //             let csrfToken = form.querySelector('[name="csrfmiddlewaretoken"]').value;
        //             // send post request
        //             fetch(url, {
        //                 method : 'POST',
        //                 headers:{
        //                     'X-CSRFToken': csrfToken
        //                 },
        //                 body : formdata
        //             })
        //             // get the response
        //             .then(response => {
        //                 if(response.ok){
        //                     return response.json();
        //                 }
        //                 else
        //                 {
        //                     thow new Error('Network response was not ok.')
        //                 }
        //             })

        //             .then(data => {
        //                 // handle successful response
        //                 alert('Event invitation sent successfully!');
        //                 console.log(data);
        //             })

        //             .catch(error => {
        //                 // handle error
        //                 console.error('There was a problem with the fetch operation:', error);
        //                 alert('There was an error sending the invitation.');
        //             });
        //         });
        //     }); 
        </script>
</body>
</html> -->